.country-checkboxes{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.continent-section{
    background-color: rgb(255, 255, 255);
}

.continent-countries{
    background-color: rgb(255, 255, 255) ;
}